.blog,
.tmpl_type_category,
.tmpl_type_archive,
.from-blog {

	.content {
		.wp-caption {
			padding-top:0px;
			border-radius: 0px;

			.wp-caption-text {
				padding:10px;
				font-size: 13px;
			}
		}
	}
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		@include media($desktop) {
			@include font(40px, 120%);
		}
		a {
			text-decoration: none;
			color: $darkColor;
		}
	}
	.post-snippet {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		@include media($tablet) {
			margin-bottom: 50px;
			flex-direction: row;
		}
		.thumb {
			float: right;
			margin-left: 25px;
			margin-bottom: 25px;
			width: 100px;
			box-shadow: -7px 7px 0px $primaryColor;
			@include media($tablet) {
				margin-left: 0;
				display: block;
				float: right;
				width: auto;
				margin-left: 100px;
			}
			@include media($desktop) {
				margin-left: 200px;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.excerpt {
			margin-bottom: 50px;
			h2.blog-title a  {
				font-family: $secondaryFont;
			}
			h2.blog-title   {
				margin-bottom: 10px;
				@include media($desktop) {
					font-size: 33px;
					line-height: 33px;
				}	
			}
			.para a {
				text-decoration: none !important;
				color: $darkColor;
				span {
					text-decoration: underline;
					color: $primaryColor;
				}
			}
			p {
				margin-top: 0;
			}
		}
	}
	.date {
		@include font(21px);
		text-transform: uppercase;
		color: $primaryColor;
		text-align: right;
	}
	.meta-data {
		margin-bottom: 30px;
		// color: #96a1a6;
		// font-style: italic;
		// line-height: 16px;
		// font-size: 12px;
		a {
			// color: #96a1a6;
		}
	}
	.button {
		text-decoration: none;
		clear: both;
	}
	.next-prev {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		a {
			text-decoration: none;
			margin-bottom: 15px;
			width: 100%;
			@include media($tablet) {
				width: auto;
			}
		}
		i {
			color: $primaryColor;
		}
	}
}


.tmpl_type_single {
	.meta-data {
		// margin-bottom: 0px;
	}
	.button {
		text-decoration: none;
	}
	article.content img {
		// width: 100%;
		// height: auto;
		box-shadow: -7px 7px 0px $primaryColor;
	}
}

.from-blog h1 {
	font-family: $secondaryFont;
	margin-top: 0;
	margin-bottom: 20px;
}
