
body.inside {
	background: #e6e5db;
}

.content {
	padding-bottom: 60px;
	@include media($desktop) {
		margin-bottom: 0;
		padding-bottom: 100px;
		width: calc(100%);
		// width: calc(100% - 350px);
		// padding-right: 50px;
		// border: 1px solid red;
	}
	b,
	strong {
		// font-weight: 700;
	}
	p a, li a{
		text-decoration: underline;
		// font-family: $primaryFont;
		// color: $primaryColor;
		&:hover {
			text-decoration: underline;
			// color: $secondaryColor;
		}
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		// color: $primaryColor;
		font-family: $secondaryFont;
		// font-weight: 100;
		margin-bottom: 15px;
		margin-top: 40px;
	}
}


article > h2 {
	margin-top: 0 !important;
}

article p ~ h2 {
	margin-top: 40px !important; 
}


/* PAGE TITLE  */

.page-title {
	text-align: center;
	position: relative;
	padding-bottom: 0;
	width: 100%;
	display: block;
	font-family: $secondaryFont;
	.heading-text,
	h1 {
		padding-top: 80px;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 100;
		color: $lightColor;
		font-size: 30px;
		line-height: 35px;
		@include media($tablet) {
			padding-top: 120px;
			font-size: 50px;
			line-height: 50px;
		}
	}
}


/* Site Specific Image Rules  */
/* Site Specific Image Rules  */
/* Site Specific Image Rules  */

.page-title-bottom {
	border-top: 1px solid #5eb5c2;
	border-bottom: 1px solid #6fc1ce;
	height: 15px;
	background: rgb(84,187,203);
	background: linear-gradient(180deg, rgba(84,187,203,1) 26%, rgba(84,175,189,1) 75%);
	box-shadow: 0px 5px 7px rgba($secondaryColor, .4);
}

.is-page article.content img.attachment-medium,
.is-page article.content img.aligncenter,
.is-page article.content img.alignright,
.is-page article.content img.alignleft {
	box-shadow: -7px 7px 0px $primaryColor;
	margin-bottom: 20px;
}


.site-crumbs {
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 1px;
	text-align: left;
	font-family: $primaryFont;
	font-style: italic;
	font-size: 10px;
	line-height: 14px;
	position: relative;
	align-items: center;
	@include media($tablet) {
		// display: flex;
		text-align: center;
		padding-top: 35px !important;
		padding-bottom: 10px !important;
	}
	.salacious-crumb {
		color: #3f3f3f;
		position: relative;
		font-size: 10px;
		@include media($tablet) {
			font-size: 16px;
		}
		a {
			font-family: $primaryFont;
			text-decoration: none;
			color: #3f3f3f;
		}
		.crumb-sep {
			margin: 0 10px;
			color: #3f3f3f;
		}
		.current-crumb-item {
			text-decoration: none;
			color: #3f3f3f;
		}
	}
}


.interior {
	text-align: left;
	background-repeat: no-repeat;
	padding-top: 10px;

	@include media($tablet) {
		padding-top: 20px;
	}

	@include media($desktop) {
		// display: flex;
	}
	

	.content {
		@include media($desktop) {
			// width: calc( 100% - 300px);
			// margin-right: 100px;
			padding-right: 50px;
		}
		overflow-wrap: break-word;
		word-wrap: break-word;
		a:hover {
			text-decoration: none;
		}
		p {
			&:first-of-type {
				margin-top: 0;
			}
		}
		ul {
			margin: 2em 10px;
			list-style: none;
			@include media($tablet) {
				margin: 3em 50px;
			}
			li {
				position: relative;
				margin-bottom: 7px;
				padding-left: 20px;
				&:before {
					content: "";
					color: $primaryColor;
					background-color: $primaryColor;
					font-weight: $bold;
					position: absolute;
					left: 0px;
					top: 7px;
					width: 7px;
					height: 7px;
					border-radius: 50%;
				}
			}
			ul,
			ul ul {
				margin: 1em 20px;
			}
			.videos & {
				display: flex;
				flex-wrap: wrap;
				margin: 0 !important;
				padding: 0 !important;
				li {
					margin: 0 !important;
					padding: 0 !important;
					a {
						padding: 10px 20px 20px 20px;
					}
					&:before {
						display: none;
					}
				}
				a {
					text-decoration: none;
				}
			}
		}
		.yottie-widget-nav-inner {
			height: auto;
		}
		.yottie-widget-nav-control {
			display: none;
		}

		
		.box-with-border {
			margin-top: 40px;
			margin-bottom: 40px;
			@include media($tablet) {
				margin-top: 60px;
				margin-bottom: 60px;
			}
		}

		ul.custom-links {
			background: #fdfdfd;
			border: 1px solid #d8d7cd;		
			list-style: none;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			// margin: 2em 0px;
			padding: 40px 20px;
			@include media($tablet) {
				padding: 50px 60px 30px 60px;
				// margin: 3em 0px;
			}
			li {
				text-align: center;
				padding-left: 0;
				// border: 1px solid pink;
				// margin-bottom: 30px;
				@include media($tablet) {
					margin-left: 30px;
					margin-right: 30px;
					width: auto;
				}
				&:before {
					display: none;
				}
			}
			a {
				text-decoration: none;
				display: inline-block;
				padding: 2px 15px;
				@include media($tablet) {
					padding: 7px 15px;
				}
				&:hover {
					background: $primaryColor;
					text-decoration: none;
					color: $lightColor;
				}
			}
		}
		ol {
			counter-reset: item;
			margin: 1em 10px;
			@include media($tablet) {
				margin: 3em 50px;
			}
			> li {
				display: block;
				position: relative;
				margin-bottom: 7px;
				padding-left: 20px;

				&:before {
					left: 0px;
					position: absolute;
					content: counter(item) ". ";
					counter-increment: item;
					color: $primaryColor;
					font-weight: bold;
				}
			}
		}

		blockquote {
			margin: 40px 0;
			margin-left: -20px;
			font-family: "Times New Roman", serif;
			border-left: 5px solid $secondaryColor;
			padding-left: 30px;
			font-weight: 100;
			margin-bottom: 40px;
			font-size: 18px;
			@include media($tablet) {
				font-size: 22px;
				display: block;
				margin-left: 0px;
			}
			strong {
				display: block;
				color: $primaryColor;
				font-weight: normal;
				padding-top: 20px;
			}
		}
	}
}


.bna-slideshow {
	@include media($tablet) {
		display: flex;
		justify-content: space-between;
	}
	.owl-nav {
		margin: 0 auto;
		display: flex;
		text-align: center;
		justify-content: center;
		margin-bottom: 40px;
		> div {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}


.bnacase-imgset {
	// background: #e3e9ec;
	border-radius: 4px;
	clear: both;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	// padding: 40px 30px 70px 30px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 40px;
	position: relative;
	width: 100%;
	@include media($tablet) {
		margin-top: 20px;
		// margin-left: 40px;
		max-width: 550px;
		// float: right;
		// padding-bottom: 70px;
	}
	.before, .after {
		overflow: hidden;
		width: 48%;
		img {
			width: 100%;
			height: auto;
			.mommy-makeover &,
			.labiaplasty &,
			.breast & ,
			.body & {
				filter: blur(10px);
			}
		}

		@include media($tablet) {
			width: 49%;
		}
		span {
			color: $darkColor;
			font-family: $secondaryFont;
			text-transform: none;
			font-size: 16px;
			display: block;
			text-align: left;
		}
	}
	.before {
			margin-right: 10px;
		}
		.after {
			position: relative;
		}
		.bnacase-imgset {
		}
	}





/*==========================================
=            Fill Width Section            =
==========================================*/

.full-width {
	width: 100vw;
	padding: 40px 0px;
	position: relative;
	left: -20px;
	margin-top: 40px;
	margin-bottom: 40px;

	@include media($tablet) {
		left: -40px;
		margin-top: 100px;
		margin-bottom: 100px;
	}
	@include media($desktop) {
		left: calc(((40px + (50vw - (#{$desktop} / 2)))) * -1);
		
	}
	@include media(1280px) {
		// left: calc(((40px + (50vw - (1280px / 2)))) * -1);
		// background-size: cover;
	}
	@include media($full) {
		// left: calc(((40px + (50vw - (#{$full} / 2)))) * -1);
	}
}



.page-feature-wrap {

}
.page-feature {
	margin-top: 40px;
	padding: 0;
	display: flex;
	flex-direction: column-reverse;
	// background: $darkColor;
	color: $darkColor;
	@include media($tablet) {
		position: relative;
	}
	@include media($desktop) {
		flex-direction: row;
		background-size: cover !important;
	}
	@include media(1280px) {
		padding: 0 calc(40px + (50% - (1280px / 2)));
	}

	> div {
		@include media($tablet) {
			// width: 100%;
		}
		@include media($desktop) {
			// width: 50%;
		}
	}
	.feature-content {
		padding: 0px;
		@include media($tablet) {
			padding: 0px 40px;
		}
		@include media($desktop) {
			position: absolute;
			padding: 0px 40px;
		}
		.inside-box {
			@include media($tablet) {
				padding: 60px;
			}
		}
		p,
		h2,
		h3 {
			text-align: left;
			margin: 0 auto;
			// margin-top: 50px;
			margin-bottom: 40px;
			@include media($tablet) {
				margin-top: 0;
				max-width: 300px;
			}
			@include media($desktop) {
				max-width: 400px;
			}
		}
		p {
			// margin-top: 20px !important;
		}
		p a {
			text-decoration: underline;
			color: $lightColor
		}
		ul li {
			&:before {
				background-color: $primaryColor !important;
			}
		}
		.two-column {
			column-count: 1; 
		}
	}
	.feature-image {
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-size: cover;
		min-height: 300px;
		@include media($tablet) {
			// min-height: 600px;
		}
		@include media($desktop) {
			background-position: center right !important;
			background-size: auto;
			min-height: 600px;
			width: 150%;
		}
	}
	.bg-underlay {
		position: absolute;
		left: 0;
		right: 0;
		background: #d6d5cc;
		height: 400px;
		width: 100%;
		z-index: -1;
		opacity: 0;
		@include media($desktop) {
			opacity: 1;
			height: 580px;
			top: 20px;
		}
	}
}




/*=========================================================================
=            WordPress Core Gallery with Fancybox, Medium Size            =
=========================================================================*/

.gallery {
	.content {
		max-width: none;
	}
}

.gallery-size-medium {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.gallery-item {
		float: none !important;
		margin-right: 5px;
		margin-left: 5px;
		width: 45% !important;
		@include media($tablet) {
			margin-right: 10px;
			margin-left: 10px;
			width: 31% !important;
		}
		img {
			border: none !important;
			width: 100%;
			height: auto;
		}
	}
}

/* Guttenberg Img for Mobile */

// .wp-block-image img {
// 	width: 150px;
// 	height: auto;
// 	@include media($tablet) {
// 		width: auto;
// 	}
// }




.testi-container {
	.box-with-border {
		margin-bottom: 60px;
	}
	.the-testi {
		font-family: $secondaryFont;
		color: $primaryColor;
		font-style: italic;
		font-weight: 100;
		padding: 20px 0px 0px 0px;
		@include media($tablet) {
			padding: 50px 100px;
			font-size: 28px;
			line-height: 39px;
		}
		position: relative;
		img {
			top: -40px;
			left: 40px;
			position: absolute;
		}
		strong {
			text-align: center;
			display: block;
			color: $darkColor;
			font-weight: normal;
		}
		.the-stars {
			text-align: center;
			color: orange;
		}
	}
}







/*==============================================
=            Langing Page Sections             =
==============================================*/

body.inside.tmpl_type_page_landing {
	.content {
		padding-bottom: 0;
	}
	.interior {
		padding-bottom: 0;
	}
}

.tmpl_type_page_landing header {
	@include media($desktop) {
		
	}
	.inside-logo {

	}
}




/*================================
=            FACELIFT            =
================================*/


.page-22 {
	#Who-is-a-Good-Candidate {
		text-align: center;	
		.icons {
			display: flex; 
			align-items: center;
			justify-content: space-around;
			flex-wrap: wrap;
			> div {
				margin-top: 40px;
				max-width: 350px;
				margin-left: 20px;
				margin-right: 20px;
				text-align: center;
				font-size: 22px;
				line-height: 24px;
				font-family: $secondaryFont;
				span {
					font-size: 16px;
					line-height: 18px;
				}
			}
		}
		.callout {
			margin: 0 auto;
			display: block;
			margin-top: 80px;
			max-width: 1000px;
			font-style: italic;;
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 40px;
			@include media($tablet) {
				margin-bottom: 0px;
				font-size: 35px;
				line-height: 40px;
			}
		}
	}
	#How-is-the-Surgery-Performed {
		.feature-content {
		}
	}
	#What-is-the-Recovery {
		@include media($desktop) {
			flex-direction: row-reverse;
			background-size: cover !important;
		}
		.feature-content {
			@include media($desktop) {
				padding-top: 60px;
			}
		}
		.feature-image {
			background-position: center left !important;
			background-repeat: no-repeat !important;
			background-size: cover;
			min-height: 300px;
			@include media($desktop) {
				background-size: auto;
				min-height: 600px;
				width: 100%;
			}
		}
		.bg-underlay {
			position: absolute;
			left: 0;
			right: 0;
			background: #d6d5cc;
			height: 400px;
			width: 100%;
			z-index: -1;
			opacity: 0;
			@include media($desktop) {
				opacity: 1;
				height: 380px;
				top: 100px;
			}
		}
	}
	// #Frequently-Asked-Questions {
	// 	display: none;
	// 	p span.callout {
	// 		@include media($tablet) {
	// 			font-size: 25px !important;
	// 		}
	// 	}
	// }
}


/* OTTOPLASTY PAGE*/

.page-37 {
	#Who-is-a-Good-Candidate {
		text-align: center;	
		.icons {
			display: flex; 
			align-items: center;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			@include media($tablet) {
				justify-content: space-around;
				flex-direction: row;
			}
			@include media($desktop) {
				justify-content: space-between;
				flex-wrap: nowrap;
			}
			> div {
				img {
					margin-bottom: 40px;
				}
				margin-bottom: 40px;
				margin-top: 40px;
				max-width: 300px;
				margin-left: 20px;
				margin-right: 20px;
				text-align: center;
				font-size: 22px;
				line-height: 24px;
				font-family: $secondaryFont;
				// border: 1px solid pink;
			}
		}
		.callout {
			margin: 0 auto;
			display: block;
			margin-top: 80px;
			max-width: 1000px;
			font-style: italic;;
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 40px;
			@include media($tablet) {
				margin-bottom: 0px;
				font-size: 35px;
				line-height: 40px;
			}
		}
	}
	#How-is-the-Surgery-Performed {
		.feature-content {
			padding-top: 0px;
		}
		.bg-underlay {
			@include media($desktop) {
				opacity: 1;
				height: 530px;
			}
		}
	}
	#What-is-the-Recovery {
		@include media($desktop) {
			flex-direction: row-reverse !important; 
		}
		.feature-content {
			padding-top: 60px;
		}
		.feature-image {
			background-position: center left !important;
			background-repeat: no-repeat !important;
			background-size: cover;
			min-height: 300px;
			@include media($tablet) {
				background-size: auto;
				min-height: 600px;
				width: 100%;
			}
		}
		.bg-underlay {
			@include media($desktop) {
				opacity: 1;
				top: 100px;
				height: 390px;
			}
		}
	}
}


/* NON SURGICAL LANDING PAGE */

.page-41 {
	.flexible-jump-links {
		@include media($desktop) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			.jump-links-content {
				width: 100%;
			}
			.box-with-border {
				width: 45%;
				height: auto;
			}
		}
	}
	.flexible-jump-links .box-with-border:first-of-type {.jump-link-list{
		ul:before {
			content: 'Injectables';
			width: 100%;
			text-align: center;
			font-size: 18px;
			font-family: $secondaryFont;
			margin-bottom: 20px;
		}
	}}
	.flexible-jump-links .box-with-border:nth-of-type(2) {.jump-link-list{
		ul:before {
			content: 'Skin Treatments';
			width: 100%;
			text-align: center;
			font-size: 18px;
			font-family: $secondaryFont;
			margin-bottom: 20px;
		}
	}}
	#injectables {
		@include media($desktop) {
			.feature-content {
				padding-top: 80px;
			}
		}
		.bg-underlay {
			background-color: #323232;
			@include media($desktop) {
				opacity: 1;
				top: 120px;
				height: 360px;
			}
		}
	}
	#not-sure, #unsurev {
		border: 10px solid #fff;
		padding: 40px !important;
		background: #e7e6dd;
		box-shadow: 0px 5px 7px rgba($secondaryColor, .1);
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
		}
		p .button {
			display: inline-block;
		}
		.button {
			display: none;
			margin:0 auto; 
		}
	}
	#Skin-Treatments {
		@include media($desktop) {
			.feature-content {
				padding-top: 20px;
			}
		}
		.bg-underlay {
			background-color: #323232;
			@include media($desktop) {
				opacity: 1;
				top: 120px;
				height: 360px;
			}
		}

	}
}



