header,
.welcome-parallax,
.home-testis,
.home-news,
.sticky-footer-bar,
.home-team,
.home-featured-headline,
.home-featured,
.footer-gallery,
// .upper-footer,
// .middle-footer,
// .lower-footer,
// .footer-logo,
// .footer-map
footer 
{
	// display: none !important;
}

.home-team h2,
.home-wedobest h2 {
	font-family: $secondaryFont;
	font-size: 40px;
	@include media($tablet) {
		
	}
	@include media($desktop) {
		font-size: 50px;
		line-height: 54px;
	}
}



/*========================================
=            Box with Border             =
========================================*/


.box-with-border {
	background: #fdfdfd;
	padding: 10px;
	box-shadow: 0px 5px 7px rgba($secondaryColor, .1);
	.inside-box {
		background: #fdfdfd;
		padding: 20px;
		border: 1px solid #d8d7cd;		
	}
}


/*===============================================
=            Welcome to my Website!             =
===============================================*/

.welcome-parallax {
	@include media($desktop) {
		background: #282828 url("images/bg-welcome.jpg") center center no-repeat;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.welcome {
	background: #282828 url("images/bg-welcome.jpg") top center no-repeat;
	height: 520px;
	position: relative;
	overflow: hidden;
	background-size: 800px auto;
	background-position-y: -50px; 
	// background-position-x: -270px; 
	@include media($tablet) {
		background: #282828 url("images/bg-welcome.jpg") center center no-repeat;
		background-size: 1900px auto;
		height: 475px;
	}
	@include media($desktop) {
		background: none;
	}
	.is--pad & {
		// display: block;
		// background: #fff url("images/bg-welcome.jpg") top center no-repeat;
		// background-position-x: right -250px; 
		// background-size: cover;
	}
	.welcome-cta {
		// border: 1px solid red;
		color: $lightColor;
		text-align: center;
		margin-top: 290px;
		@include media($tablet) {
			text-align: left;
			max-width: 550px;
			margin-top: 120px;
		}
		h2 {
			margin-top: 0;
			font-family: $secondaryFont;
			font-style: italic;
			@include media($tablet) {
				font-size: 39px;
				line-height: 52px;
			}
			@include media($desktop) {
				font-size: 46px;
				line-height: 52px;
				
			}
			span {
				display: block;
				margin-top: 10px;
				font-size: 20px;
				font-family: $primaryFont;
				@include media($tablet) {
					margin-top: 20px;
					font-size: 26px;
				}
			}
		}
	}
}




/*===================================
=            home-testis            =
===================================*/



.home-testis {
	background: $tertiaryColor;
	min-height: 228px;
	// padding: 10px 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	@include media($tablet) {
		display: flex;
		align-items: center;
		justify-content: center;
		> div {
			width: 48%;
		}
	}
	.box-with-border {
		margin-bottom: 10px;
		@include media($tablet) {
			margin-bottom:0 ;
		}
	}
	.inside-box {
		color: #363535;
		text-align: left;
		font-size: 20px;
		line-height: 28px;
		font-family: $primaryFont;
		font-style: italic;
		padding-top: 60px;
		position: relative;
		span {
			display: block;
			font-family: $secondaryFont;
			font-size: 40px;
			padding-top: 10px;
			padding-bottom: 15px;
			@include media($tablet) {
				font-size: 47px;
				padding-bottom: 25px;
			}
			@include media($desktop) {
				font-size: 60px;
			}
		}
		.icon-quote {
			position: absolute;
			top: 10px;
		}
	}
	.splitter {
		display: none;
		width: 1px;
		height: 100px;
		background-color: #cbcbca;
		margin-left: 20px;
		margin-right: 20px;
		@include media($tablet) {
			display: inline-block;
		}
	}
}




.home-team {
	h2 {
		color: $lightColor;
		margin-top:0;
	}
	background-color: #302f2f;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 800px auto;
	padding-top: 40px;
	height: 600px;
	border-top: 10px solid #282828;
	@include media($tablet) {
		background-color: #302f2f;
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 1400px auto;
		padding-top: 60px;
		height: 600px;
	}
	@include media($desktop) {
		background-color: #302f2f;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 80px;
		height: 780px;
	}
	position: relative;
	ul {
		max-width: 1200px;
		margin: 0 auto;
		list-style: none;
		@include media($tablet) {
			display: flex;
			justify-content: space-around;
			position: absolute;
			bottom: 50px;
			left: 0;
			right: 0;
		}
		li a {
			border-radius: 5px;
			padding: 0px 20px;
			padding-bottom: 5px;
			display: inline-block;
			color: $lightColor;
			text-decoration: none;
			border: 2px solid transparent;
			transition: border .15s ease-in;
			font-size: 16px;
			@include media($tablet) {
				padding: 10px 10px;
				font-size: 18px;
			}
			@include media($desktop) {
				padding-bottom: 10px;
				font-size: 20px;
				padding: 10px 20px;
				// padding-bottom: 30px;
			}
			&:hover {
				border: 2px solid $primaryColor;
			}

		}
		li span {
			font-size: 10px;
			display: block;
			@include media($tablet) {
				padding-top: 10px;
				font-size: 14px;
			}
			@include media($desktop) {
				font-size: 16px;
			}
		}
	}
}



.home-wedobest {
	padding-top: 40px;
	padding-bottom: 40px;
	color: $lightColor;
	text-align: left;
	background-position: center center; 
	background-size: cover;
	background-repeat: no-repeat;
	@include media($tablet) {
		padding-top: 60px;
		padding-bottom: 100px;
	}
	p:first-of-type {
		max-width: 400px;
		margin-bottom: 60px;
	}
	p:last-of-type {
		max-width: 700px;
		margin-bottom: 60px;
	}
	ul {
		list-style: none;
	}

	@include media($desktop) {
		
	}
	.the-we-do-best-wrap {
		margin-top: 40px;
		@include media($desktop) {
			display: flex;
			justify-content: space-between;
		}
	}
	.the-whatwedobest {
		span {
			color: $primaryColor;
			font-weight: bold;
			font-size: 18px;
		}
		li a {
			display: block;
			padding: 5px;
			border-top: 1px solid rgba($lightColor, .2);
			color: $lightColor;
			text-decoration: none;

			&:hover {
				background-color: $primaryColor;
			}
		}
		ul {
			margin-bottom: 40px;
			@include media($desktop) {
				width: 240px;
				margin-bottom: 0;
			}
		}
	}
	.two-column {
		margin-right: 20px;
		width: auto !important;
		@include media($desktop) {
			max-width: 500px;
		}
	}

	h3 span {
		font-style: italic;
		font-weight: bold;
	}
}







 
 .home-featured-headline {
 	color: #fff;
 	background: rgb(83,188,204);
 	background: linear-gradient(177deg, rgba(83,188,204,1) 3%, rgba(78,170,184,1) 100%); 
 	text-align: center;
	border-bottom: 5px solid #77c7d3;
	box-shadow: 0px 5px 10px rgba(#000, .4);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include media($tablet) {
		height: 140px;
	}
	.the-headline {
		@include media($desktop) {
			font-size: 50px;
		}
	}
 }
 

.home-featured {
	padding-top: 60px;
	padding-bottom: 20px;
	background-color: #e8e8e7;
	text-align: left;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	> div {
		max-width: 100%;
		margin-bottom: 40px;
		@include media($tablet) {
			max-width: 48%;
		}
	}
	.inside-box {
		height: 100%;
		.the-headline {
			margin-bottom: 30px;
			margin-top: 40px;
		}
		img {
			text-align: center;
			margin: 0 auto;
			@include media($desktop) {
				float: right;
				margin-left: 20px;
				margin-bottom: 30px;
			}
		}
		.button {
			margin-top: 20px;
		}
	}
}






.home-news {
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	@include media($tablet) {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.the-headline {
		font-family: $secondaryFont;
		color: $secondaryColor;
		text-align: center;
		margin-bottom: 60px;
		@include media($desktop) {
			font-size: 40px;
		}
	}
	ul {list-style: none;

		@include media($tablet) {
			display: flex;
			> li {
				width: 30%;
				margin-right: 40px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
	li {
		margin-bottom: 50px;
		@include media($desktop) {
			margin-bottom: 0;
		}
	}
	a {
		text-decoration: none;
	}
	.news-head {
		font-size: 22px;
		font-family: $secondaryFont;
		display: block;
		margin-bottom: 15px;
	}
	p {
		color: $darkColor;
	}
}