aside {
	display: block;
	display: none;
	margin-bottom: 40px;
	.from-blog & {
		padding-bottom: 20px;

	}
	ul {
		list-style: none;
	}
	li {
		width: 100%;
	}

	@include media($desktop) {
		display: block;
		margin-top: -60px;
		> div {
			// width: 350px;
		}
	}

	.tmpl_type_single & {
		// display: none;
	}
}


.sidebar-block {
	padding: 10px 0;
	.sb-heading {
		text-align: center;
		font-family: $secondaryFont;
		color: $primaryColor;
		font-size: 26px;
		margin-bottom: 30px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 0;
		// border: 1px solid red;
	}
	li {
		margin: 5px 10px;
		width: auto;
		font-size: 14px;
		color: $primaryColor;
		font-family: $primaryFont;
		// border-bottom: 1px solid rgba($darkColor, .1);
		&:first-of-type {
			// border-top: 1px solid rgba($darkColor, .1);
		}
		a {
			color: $primaryColor;
			text-decoration: none;
			// width: 100%;
			display: block;
			// padding: 7px 0;
			&:hover {
				text-decoration: underline;
				// color: $primaryColor;
			}
		}
	}
}

