/* ------------------------
   Variables
------------------------ */


// todo:  navigation adjust, fix moible nav, icons on homepage testis 
/* hide gallery CTA from landing pages */

$Blue: #4ea9b7;
$lightBlue: #77c7d3;
$Yello: #d5d4c7;
$contentGrey: #282828;

$DarkerGrey: #323232;
$DarkGrey :#464646;
$lightGrey : #e8e8e7;

$darkText : #2e2e2e;


$primaryColor: $Blue; // link color, buttons, nav, footer, etc
$primaryAlt: $lightBlue; //link hover

$primaryHighlight: $DarkerGrey;

$secondaryColor: $DarkGrey;
$secondaryAlt: $DarkerGrey;

$tertiaryColor: $lightGrey;
$tertiaryAlt: #000000;

$lightColor: #ffffff;
$darkColor: #000000;

// Font Family

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Playfair Display', serif;
$highlightFont:  'Source Sans Pro', sans-serif;




$sidebar: 350px;

// Font Weight

$thin: 100;
$light: 300;
$normal: 400;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$heavy: 900;

// Media Query break points

$tablet: 768px;
$desktop: 1080px;
$full: 1480px;

$ipad-min: 768px;
$ipad-max: 1024px;

$ipadpro-min: 1024px;
$ipadpro-max: 1366px;

$ipad: ipads;
$ipads: ipads;

// Increasing color

$step: 1;

// Defaults

$defaultfont: $primaryFont;
$defaultcolor: $darkColor;
